.main{
    position: absolute;
}
.main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main:hover{
    cursor: context-menu;
}

header{
    width: 80vw;
    margin: 0 auto;
    margin-top: 5vh;
    font-size:4vw;
    font-weight: 700;
    text-align: center;
    border-bottom: 5px solid black;
}

.links{
    width: 80vw;
    margin-left:10vw;
    display: flex;
    flex-flow: row wrap;
}
.links .container{
    width: 16.66%;
    height: auto;
    text-align: center;
    margin-top:5vh;
}
.links img{
    width: 50%;
    filter: brightness(0) invert(1);  
    transition: .3s ease-out;
    z-index:0;
}
.links img:hover{
    filter:invert(0);
    transform: scale(1.5);
}

@media screen and (max-width:1400px){
    header{
        width: 80vw;
        margin: 0 auto;
        margin-top: 8vh;
        font-size:6vw;
        font-weight: 700;
        text-align: center;
        border-bottom: 5px solid black;
    }

    .links{
        width: 80vw;
        margin-left:10vw;
        display: flex;
        flex-flow: row wrap;
    }
    .links .container{
        width: 33.33%;
        height: auto;
        text-align: center;
        margin-top:5vh;
    }
    .links img{
        width: 50%;
        filter: brightness(0) invert(1);  
        transition: .3s ease-out;
        z-index:0;
    }
    .links img:hover{
        filter:invert(0);
        transform: scale(1.5);
    }
}
@media screen and (max-width:600px){
    header{
        width: 80vw;
        margin: 0 auto;
        margin-top: 8vh;
        font-size:8vw;
        font-weight: 700;
        text-align: center;
        border-bottom: 5px solid black;
    }

    .links{
        width: 80vw;
        margin-left:10vw;
        display: flex;
        flex-flow: row wrap;
    }
    .links .container{
        width: 33.33%;
        height: auto;
        text-align: center;
        margin-top:5vh;
    }
    .links img{
        width: 50%;
        transition: .3s ease-out;
        z-index:0;
    }
    .links img:hover, .links img:active{
        filter:invert(0);
        transform: scale(1.5);
    }
}