.uml_diagram{
    width: 80vw;
    height: 70vh;
    margin: 0 auto;
}

.uml_diagram .image{
    margin: 0 auto;
    width: 80%;
    height: 80%;
    text-align: center;
}

.uml_diagram .image img{
    height: 100%;
}

.video_system{
    width: 80vw;
    height: 70vh;
    margin: 0 auto;
}

.video{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
.video iframe{
    width: 100%;
    height: 100%;
}